<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo AJAX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/assets/jquery.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

    <button onclick="getStudentList()">Click to get student list</button>

    <input id="searchName" type="text" oninput="searchStudentByName()" />

    <div id="studentList"></div>

    <button onclick="loadMore()">Load more</button>
    <button onclick="showLess()">Show Less</button>
</div>

<script>

    let page = 1;
    let size=4;

    const apiBaseUrl = 'http://localhost:8081';

    function loadMore() {
        const pageable = `?size=${size}&page=${page}`;

        $.ajax(`${apiBaseUrl}/api/students` + pageable)
            .done(function (result) {
                buildUI(result.data, true);
                if (result.data.length >= size) {
                    page++;
                }
            })
            .fail(function (error) {
                console.log(error);
            });
    }

    function showLess() {
        $(".loadMore-" + page).hide();

        if (page > 0) {
            page--;
        }
    }

    function searchStudentByName() {
        page = 0;
        let value = $('#searchName').val();
        console.log(value);
        $.ajax(`${apiBaseUrl}/api/students/` + value)
            .done(function (result) {
                buildUI(result.data);
            })
            .fail(function (error) {
                console.log(error);
            });
    }

    function getStudentList() {
        page = 0;
        $.ajax(`${apiBaseUrl}/api/students`)
            .done(function (result) {
                buildUI(result.data);
            })
            .fail(function (error) {
                console.log(error);
            });
    }

    function buildUI(result, isAppend) {
        let slDiv = document.getElementById("studentList");

        if (isAppend !== true) {
            slDiv.innerHTML = "";
        }


        let divRow = document.createElement("div");
        divRow.className = "row";

        for (let i = 0; i < result.length; i++) {
            let divCol = document.createElement("div");
            divCol.className = "col";

            divCol.innerText = result[i].name;
            if (isAppend === true) {
                // divCol.className = "loadMore-" + page;
                divCol.classList.add("loadMore-" + page);
            }

            divRow.appendChild(divCol);
        }

        slDiv.appendChild(divRow);
    }

</script>

</body>
</html>
