<html lang="en" xmlns:th="">

<head th:replace="~{layout::head}"></head>
<body>

<div th:insert="~{layout::menu}" style="color:red;"></div>

    <div class="container">

        <h1>Danh sách học viên</h1>

        <table class="table">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Giới tính</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="stu, iter :${students}">
                    <th scope="row" th:text="${iter.index}"></th>
                    <td th:text="${stu.name}"></td>
                    <td th:switch="${stu.gender}">
                            <span th:case="0">Chưa xác định</span>
                            <span th:case="1">Nam</span>
                            <span th:case="2">Nữ</span>
                            <span th:case="*">Sai dữ liệu</span>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <footer th:replace="~{layout::footer}"></footer>

</body>